@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Quicksand:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    color: #DE6449;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #FCF7F8;
    padding: 0;
    font-family: Quicksand, Arial, serif;
}

header {
    background-color: #DE6449;
}

nav a:hover {
    color: #DE6449;
    background-color: #FCF7F8;
    text-decoration: none;
}

.book, .join {
    color: #FCF7F8;
    background-color: #DE6449;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #DE6449;
    background-color: #FCF7F8;
    text-decoration: none;
}

#background {
    background-color: #395c30;
}

.msg {
    background-color: #FCF7F8;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

h2 {
    margin: 0;
    font-family: Kalam, verdana, sans-serif;
}

.msg h2 {
    font-family: Kalam, verdana, sans-serif;
}

footer {
    color: #395c30;
    background-color: #DE6449;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #DE6449;
    text-decoration: none;
}

footer a:hover {
    color: #DE6449;
    background-color: #FCF7F8;
    text-decoration: none;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    margin-top:10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #395c30;
}


