/*selector: body
declarations: everything inside curly braces
- also called property value pairs*/
body {
    text-align: center;
}

/*navigational bard*/
nav {
    background-color: steelblue;
    padding: 10px;
}

a {
    color: white;
    margin: 40px;
}

h1 {
    color: steelblue;
}

img {
    width: 800px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
    font-size: +1;
}

footer {
    background-color: steelblue;
    color: white;
}