@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Expletus+Sans:ital@1&family=Zen+Dots&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.game-overview-home-img {
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 3;
}
.commanders-home-img {
    margin: 0 auto;
    grid-column-start: 4;
    grid-column-end: 5;
}
.card-gallery-home-img {
    margin: 0 auto;
    grid-column-start: 6;
    grid-column-end: 7;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #0E34A0;
}
nav a {
    color: #F7CB15;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}
nav a:hover {
    color:#0E34A0;
    background-color:#DEE7E7;
    text-decoration: none;
}
#hero-img {
    width: 100%;
    z-index: -1;
}
#hero-msg h1, #hero-msg h3 {
    z-index: 0;
    color:#DEE7E7;
}
.logo {
    width: 180px;
    height: 78px;
}
#logo_link {
    padding-top: none;
    justify-self: center;
    align-self: center;
    float: left;
}
h1, h2 {
    font-family: Zen Dots;
    color:#DEE7E7;
}

h4 {
    font-family: Cambay;
}
footer {
    color: #DEE7E7;
    background-color: #0E34A0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #DEE7E7;
    text-decoration: none;
}

footer a:hover {
    color: #0E34A0;
    background-color: none;
    text-decoration: none;
}